<!DOCTYPE html>
<html>
<head>
  <title>Admin Settings</title>
  <%- include('header'); %>
</head>
<body>

  <%- include('top-navigation'); %>

  <div id="app">
  <!-- Admin Tabs -->
  <div class="link-tab uk-margin-left uk-margin-right">
    <h4>
      <a href="/admin-database" class="uk-padding-small">Alumni</a>&nbsp;&nbsp;&nbsp;
      <a href="/admin-group" class="uk-padding-small">Groups</a>&nbsp;&nbsp;&nbsp;
      <a href="/admin-event" class="uk-padding-small">Events</a>&nbsp;&nbsp;&nbsp;
      <a href="/admin-news" class="uk-padding-small">News</a>&nbsp;&nbsp;&nbsp;
      <a class="tab-active uk-padding-small">Security</a>&nbsp;&nbsp;&nbsp;
      <a href="/admin-settings" class="uk-padding-small">Settings</a>
    </h4>
    <hr class="border-slate"></hr>
  </div>

  <!--------------------------->
  <!-- ROLES/PERMISSIONS -->
  <!--------------------------->
  <div class="uk-card uk-card-default uk-margin-medium-top uk-margin-right uk-margin-left">
    <div class="uk-card-header container-top">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <h4 class="norwester font-white">Roles <h5 class="font-white" id="user_count">({{ roles.length }})</h5></h4>
        </div>
    </div>
    <div class="charcoal uk-padding-small">
      <form class="uk-width-1-1">
        <div class="uk-form-controls uk-inline uk-width-1-3@m uk-margin-right">
          <span class="uk-form-icon" uk-icon="icon: search"></span>
            <input class="uk-input border-charcoal2" type="text" placeholder="Search Roles" v-model="roleNameSearch">
        </div>
        <div class="uk-inline uk-width-1-3@m uk-margin-right">
          <select class="uk-select border-charcoal2" v-model="roleSortAlphabetically">
            <option value="true">Sort Alphabetically (A-Z)</option>
            <option value="false">Sort Alphabetically (Z-A)</option>
          </select>
        </div>
        <div class="uk-inline uk-float-right">
          <h5 class="font-white"><a class="font-white" v-on:click="clearRolesFilter">Clear Filters</a> &nbsp;|&nbsp; <a href="#add-role" class="font-white" uk-toggle>+ Add</a></h5>
        </div>
      </form>
    </div>

    <div class="uk-card-body white uk-padding-remove uk-margin-remove uk-overflow-auto">
      <div class="uk-grid uk-padding-remove" uk-grid>
        <div class="uk-width-1-3">
          <table class="uk-table uk-table-small alumni-table uk-margin-remove">
            <tbody>
              <tr v-bind:class="{ 'selected': role.id == selectedRole.id }" v-for="role in filteredRoles" v-on:click="setSelectedRole(role)"><td>{{ role.name }}<span uk-icon="icon: chevron-right; ratio: 1.5" class="font-white uk-float-right"></span></td></tr>
            </tbody>
          </table>
          <div class="black">
            <ul class="uk-pagination uk-margin-remove uk-flex-center uk-padding-small">
              <li><a v-on:click="rolePaginateLeft"><span uk-icon="icon: chevron-left; ratio: 2" class="font-white"></span></a></li>
              <li>
                <div>
                  <select class="uk-select border-charcoal2">
                      <option v-for="page in Array(rolePageCount).keys()">{{ page + 1 }}</option>
                  </select>
                </div>
              </li>
              <li class="font-white uk-margin-small">of {{ rolePageCount }}</li>
              <li><a v-on:click="rolePaginateRight"><span uk-icon="icon: chevron-right; ratio: 2" class="font-white"></span></a></li>
            </ul>
          </div>
        </div>

        <div class="uk-padding uk-width-1-3">
          <h4 class="tight norwester">Permissions</h4><a v-on:click="updateRolePermissions">Save</a>

          <h6>Permissions dictate what a user can view and do in the system:</h6>
          <label v-for="permission in permissions"><input class="uk-checkbox" type="checkbox" :checked="permissionContainedInRole(permission)" value="permission" v-on:click="toggleRolePermission($event, permission)" /> &nbsp; {{ permission.friendly_name }}</label><br />
        </div>
      </div>
    </div>
  </div>

  <!-- Add Role Modal -->
  <div id="add-role" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header fog">
        <h3 class="uk-modal-title norwester">Create a Role</h3>
      </div>

      <div class="uk-modal-body fog uk-padding">
        <label class="uk-form-label" for="form-stacked-text">Give the Role a Name:</label><br>
        <input class="uk-input border-charcoal2 uk-width-1-1" type="text" v-model="newRoleName">
      </div>

      <div class="uk-modal-footer fog uk-text-left">
        <button class="uk-button button-lt" type="button" v-on:click="createNewRole">Add</button>
      </div>
    </div>
  </div>

  <div class="uk-margin-large"></div>

  <!--------------------------->
  <!-- User Setup Section -->
  <!--------------------------->
  <div class="uk-card uk-card-default uk-margin-medium-top uk-margin-right uk-margin-left">
    <div class="uk-card-header container-top">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <h4 class="norwester font-white">Users <h5 class="font-white" id="user_count">({{ users.length }})</h5></h4>
      </div>
    </div>
    <div class="charcoal uk-padding-small">
      <form class="uk-width-1-1">
        <div class="uk-form-controls uk-inline uk-width-1-3@m uk-margin-right">
          <span class="uk-form-icon" uk-icon="icon: search"></span>
          <input class="uk-input border-charcoal2" type="text" placeholder="Search by user name" v-model="userNameSearch">
        </div>
        <div class="uk-inline uk-width-1-3@m uk-margin-right">
          <select class="uk-select border-charcoal2" v-model="userSortAlphabetically">
            <option value="true">Sort Alphabetically (A-Z)</option>
            <option value="false">Sort Alphabetically (Z-A)</option>
          </select>
        </div>
        <div class="uk-inline uk-float-right">
          <h5 class="font-white"><a class="font-white" v-on:click="clearUsersFilter">Clear Filters</a> &nbsp;|&nbsp; <a class="font-white" v-on:click="exportCsv">Export</a></h5>
        </div>
      </form>
    </div>

    <div class="uk-card-body white uk-padding-remove uk-margin-remove uk-overflow-auto">
      <div class="uk-grid uk-padding-remove uk-child-width-1-3" uk-grid>
        <div>
          <table class="uk-table uk-table-small alumni-table uk-margin-remove">
            <tbody>
              <tr v-bind:class="{ 'selected': user.id == selectedUser.id }" v-for="user in displayUsers" v-on:click="setSelectedUser(user)"><td>{{ user.name }}<span uk-icon="icon: chevron-right; ratio: 1.5" class="font-white uk-float-right" :key="user.id"></td></tr>
            </tbody>
          </table>
          <div class="uk-padding-small black">
            <ul class="uk-pagination uk-flex-center uk-margin-remove">
              <li><a v-on:click="userPaginateLeft"><span uk-icon="icon: chevron-left; ratio: 2" class="font-white"></span></a></li>
              <li>
                <div>
                  <select class="uk-select border-charcoal2" v-model="userPageNumber">
                    <option v-for="page in Array(userPageCount).keys()">{{ page + 1}}</option>
                  </select>
                </div>
              </li>
              <li class="font-white uk-margin-small">of {{ userPageCount }}</li>
              <li><a v-on:click="userPaginateRight"><span uk-icon="icon: chevron-right; ratio: 2" class="font-white"></span></a></li>
            </ul>
          </div>
        </div>

        <div class="uk-padding">
          <h3 class="tight norwester">{{ selectedUser.name }}</h3>
          <h6 class="tight">Member since <span id="member_date">{{ moment(selectedUser.createdAt).format('MM-DD-YYYY') }}</span></h6>
          <hr></hr>
          <h4 class="norwester">Roles <a>(+ Add)</a></h4>
          <div uk-alert class="border-slate uk-border-rounded" v-for="userRole in selectedUser.roles">
            <button class="uk-alert-close uk-close-large" type="button" uk-close></button>
            <p>{{ userRole.name }}</p>
          </div>
        </div>

        <div class="uk-padding uk-padding-remove-bottom">
          <h4 class="norwester">History</h4>
          <div class="uk-divider-vertical uk-padding-small uk-padding-remove-top uk-float-left uk-width-1-1" v-for="event in selectedUser.activityHistoryItems">
            <h6 class="wide font-black">
              <span id="change_descr"><strong>{{ event.activityDescription }}</strong></span><br>
              <span id="chg_date">{{ moment(event.createdAt).format('MM-DD-YYYY') }}</span>, <span id="chg_time">{{ moment(event.createdAt).format('hh:mm A') }}</span>
            </h6>
          </div>
        </div>

        <a class="uk-button button-lt font-small float-right" href="#history-modal" uk-toggle>View All</a>

        <!-- Here is the code for the modal with additional history -->
        <div id="history-modal" uk-modal>
          <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header fog">
              <h2 class="uk-modal-title">User History</h2>
            </div>

            <div class="uk-modal-body" uk-overflow-auto>
              <div class="uk-divider-vertical uk-padding-small uk-padding-remove-top uk-float-left uk-width-1-1" v-for="event in selectedUser.activityHistoryItems">
                <h5>
                  <span id="change_descr"><strong>{{ event.activityDescription }}</strong></span><br>
                  <span id="chg_date">{{ moment(event.createdAt).format('MM-DD-YYYY') }}</span>, <span id="chg_time">{{ moment(event.createdAt).format('hh:mm A') }}</span>
                </h5>
              </div>

              <div class="uk-modal-footer fog uk-text-left">
                <button class="uk-button button-lt uk-modal-close" type="button">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="uk-margin-large"></div>
  <%- include('footer'); %>
</div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        userPageNumber: 1,
        userPageSize: 10,
        rolePageNumber: 1,
        rolePageSize: 10,
        roles: <%- JSON.stringify(roles) %>,
        filteredRoles: <%- JSON.stringify(roles) %>,
        users: <%- JSON.stringify(userList) %>,
        filteredUsers: <%- JSON.stringify(userList) %>,
        selectedUser: <%- JSON.stringify(userList[0]) || JSON.stringify({}) %>,
        selectedRole: <%- JSON.stringify(roles[0]) || JSON.stringify({}) %>,
        roleNameSearch: '',
        roleSortAlphabetically: true,
        userNameSearch: '',
        userSortAlphabetically: true,
        newRoleName: '',
        permissions: <%- JSON.stringify(permissions) %>
      },
      computed: {
        displayUsers: function() {
          var startEl = (this.userPageNumber - 1) * this.userPageSize;
          return this.filteredUsers.slice(startEl, startEl + this.userPageSize);
        },
        userPageCount: function() {
          return Math.ceil(this.filteredUsers.length / this.userPageSize);
        },
        rolePageCount: function() {
          return Math.ceil(this.filteredRoles.length / this.rolePageSize);
        }
      },
      methods: {
        rolePaginateLeft: function() {
          if (this.rolePageNumber > 1) this.rolePageNumber--;
        },
        rolePaginateRight: function() {
          if (this.rolePageNumber < this.roleCount) this.rolePageNumber++;
        },
        userPaginateLeft: function() {
          if (this.userPageNumber > 1) this.userPageNumber--;
        },
        userPaginateRight: function() {
          if (this.userPageNumber < this.pageCount) this.userPageNumber++;
        },
        setSelectedUser: function(user) {
          this.selectedUser = user;
        },
        setSelectedRole: function(role) {
          this.selectedRole = role;
        },
        clearRolesFilter: function() {
          this.roleNameSearch = '';
          this.roleSortAlphabetically = true;
        },
        clearUsersFilter: function() {
          this.userNameSearch = '';
          this.userSortAlphabetically = true;
        },
        createNewRole: function() {
          var errMsg = ''; 
          if (!this.newRoleName) errMsg += 'Role name cannot be empty.';
          if (errMsg) alert(errMsg);
          else {
            axios.post('/api/role', {
              name: this.newRoleName
            })
              .then(function(data) {
                UIkit.modal('#add-role').hide();
              })
              .catch(function(err) {
                var msg;
                if (err && err.response && err.response.data && err.response.data.message) msg = err.response.data.message;
                alert(msg || 'There was an error processing your request. Please try again');
              });
          }
        },
        exportCsv: function() {
          function convertToCSV(objArray) {
            var array = typeof objArray != 'object' ? JSON.parse(objArray) : objArray;
            var str = '';

            for (var i = 0; i < array.length; i++) {
              var line = '';
              for (var index in array[i]) {
                if (line != '') line += ','

                line += array[i][index];
              }

              str += line + '\r\n';
            }

            return str;
          }

          function exportCSVFile(headers, items, fileTitle) {
            if (headers) {
              items.unshift(headers);
            }

            // Convert Object to JSON
            var jsonObject = JSON.stringify(items);
            var csv = convertToCSV(jsonObject);
            var exportedFilename = fileTitle + '.csv' || 'export.csv';
            var blob = new Blob([csv], { type: 'text/csv;charset=utf-8;' });
            
            if (navigator.msSaveBlob) { // IE 10+
              navigator.msSaveBlob(blob, exportedFilename);
            } else {
              var link = document.createElement("a");
              if (link.download !== undefined) { // feature detection
                // Browsers that support HTML5 download attribute
                var url = URL.createObjectURL(blob);
                link.setAttribute("href", url);
                link.setAttribute("download", exportedFilename);
                link.style.visibility = 'hidden';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
              }
            }
          }

          var headers = {
            name: 'name',
            nicknames: 'nicknames',
            graduation_year: 'graduation_year',
            membership_type: 'membership_type',
            email: 'email',
            home_phone: 'home_phone',
            cell_phone: 'cell_phone',
            address_line_1: 'address_line_1',
            address_line_2: 'address_line_2',
            city: 'city',
            state: 'state',
            zip_code: 'zip_code'
          };

          var formattedUsers = [];

          this.filteredUsers.forEach(function(user) {
            formattedUsers.push({
              name: user.name,
              nicknames: user.nicknames,
              graduation_year: user.graduation_year,
              membership_type: user.membership.membership_type,
              email: user.email,
              home_phone: user.home_phone,
              cell_phone: user.cell_phone,
              address_line_1: user.address_line_1,
              address_line_2: user.address_line_2,
              city: user.city,
              state: user.state,
              zip_code: user.zip_code
            });
          });

          var downloadedFilename = 'users';
          exportCSVFile(headers, formattedUsers, downloadedFilename);
        },
        permissionContainedInRole: function(permission) {
          return this.selectedRole.permissions ? this.selectedRole.permissions.some(function(e) {
            return e.id == permission.id;
          }) : false;
        },
        toggleRolePermission: function(event, permission) {
          event.target.checked ?
            this.selectedRole.permissions.push(permission) :
            this.selectedRole.permissions = this.selectedRole.permissions.filter(function(e) { return e.id !== permission.id; });

            console.log(this.selectedRole.permissions);
        },
        updateRolePermissions: function() {
          axios.put('/api/update-role', {
            role: this.selectedRole
          })
            .then(function(data) {
              alert('Updated role successfully.');
            })
            .catch(function(err) {
              alert('There was an issue processing your request. Please try again');
            });
        }
      }
    });
  </script>
</body>
</html>
