<!DOCTYPE html>
<html>
<head>
  <title>Admin Settings</title>
  <%- include('header'); %>
</head>
<body>
  <%- include('top-navigation'); %>

  <div id="app">
  <!-- Admin Tabs -->
  <div class="link-tab uk-margin-left uk-margin-right">
    <h4>
      <a href="/admin-database" class="uk-padding-small">Alumni</a>&nbsp;&nbsp;&nbsp;
      <a href="/admin-group" class="uk-padding-small">Groups</a>&nbsp;&nbsp;&nbsp;
      <a href="/admin-event" class="uk-padding-small">Events</a>&nbsp;&nbsp;&nbsp;
      <a href="/admin-news" class="uk-padding-small">News</a>&nbsp;&nbsp;&nbsp;
      <a href="/admin-security" class="uk-padding-small">Security</a>&nbsp;&nbsp;&nbsp;
      <a class="tab-active uk-padding-small">Settings</a>
    </h4>
    <hr class="border-slate"></hr>
  </div>

  <!--------------------------->
  <!-- TAB # 1 - SETTINGS + USERS -->
  <!--------------------------->
  
  <!--------------------------->
  <!-- Section one - Branding -->
  <!--------------------------->
  <div class="uk-margin-right uk-margin-left uk-margin-medium-top">
    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-header container-top">
            <h4 class="norwester font-white">Branding</h4>
          </div>
          <div class="uk-card-body white">
            <label class="profile-label">Site Logo</label>
            <div class="uk-width-1-1 uk-margin-bottom uk-margin-top">
              <img id="site-branding-logo" src="/api/photo/site-branding-logo" alt="">
            </div>
            <div class="uk-margin" uk-margin>
              <div uk-form-custom="target: true">
                <input id="site-branding-logo-upload" type="file" accept="image/*" v-on:change="onImgChange('#site-branding-logo-upload', '#site-branding-logo')">
                <input class="uk-input uk-form-width-medium" type="text" disabled>
                <button class="uk-button uk-button-default">Upload</button>
              </div>
            </div>
            <hr class="uk-margin-medium">
            <label class="profile-label">Site Favicon</label>
            <div class="uk-margin" uk-margin>
              <div uk-form-custom="target: true">
                <input id="site-favicon" type="file" accept=".ico">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
                <button class="uk-button uk-button-default">Upload</button>
              </div>
              <h5 class="font-small">*The recommended size for a favicon is 100px by 100px.</h5>
            </div>
          </div>
          <div class="uk-margin-large"></div>
          <button class="uk-button uk-button-primary button-lt uk-margin-medium-left uk-position-medium uk-position-bottom" type="button" v-on:click="saveSiteBranding">Save</button>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default">
          <div class="uk-card-header container-top">
            <h4 class="norwester font-white">Contact Info</h4>
          </div>
          <div class="uk-card-body white">
            <label class="profile-label">Website URL</label>
            <div class="uk-inline uk-width-1-1 uk-margin-small uk-margin-bottom">
              <span class="uk-form-icon" uk-icon="icon: link"></span>
              <input class="uk-input border-charcoal2" type="text" v-model="updatedSiteAdminConfig.website_url">
            </div>
            <label class="profile-label">Phone Number</label>
            <div class="uk-inline uk-width-1-1 uk-margin-small uk-margin-bottom">
              <span class="uk-form-icon" uk-icon="icon: receiver"></span>
              <input class="uk-input border-charcoal2" type="tel" v-model="updatedSiteAdminConfig.phone_number">
            </div>
            <label class="profile-label">Address</label>
              <div class="uk-inline uk-width-1-1 uk-margin-small">
                <span class="uk-form-icon" uk-icon="icon: location"></span>
                <input class="uk-input border-charcoal2" type="text" placeholder="Address Line 1" v-model="updatedSiteAdminConfig.address_line_1">
              </div>
              <div class="uk-inline uk-width-1-1 uk-margin-small uk-margin-bottom">
                <span class="uk-form-icon" uk-icon="icon: location"></span>
                <input class="uk-input border-charcoal2" type="text" placeholder="Address Line 2" v-model="updatedSiteAdminConfig.address_line_2">
              </div>
              <span class="uk-inline uk-width-1-1">
                <input class="uk-input uk-width-1-3 border-charcoal2 uk-margin-bottom"  placeholder="City" v-model="updatedSiteAdminConfig.city"> 
                <select class="uk-select uk-width-1-4 border-charcoal2 uk-margin-bottom" v-model="updatedSiteAdminConfig.state">
                  <option value=""></option>
                  <option value="AL">AL</option>
                  <option value="AK">AK</option>
                  <option value="AZ">AZ</option>
                  <option value="AR">AR</option>
                  <option value="CA">CA</option>
                  <option value="CO">CO</option>
                  <option value="CT">CT</option>
                  <option value="DE">DE</option>
                  <option value="DC">DC</option>
                  <option value="FL">FL</option>
                  <option value="GA">GA</option>
                  <option value="HI">HI</option>
                  <option value="ID">ID</option>
                  <option value="IL">IL</option>
                  <option value="IN">IN</option>
                  <option value="IA">IA</option>
                  <option value="KS">KS</option>
                  <option value="KY">KY</option>
                  <option value="LA">LA</option>
                  <option value="ME">ME</option>
                  <option value="MD">MD</option>
                  <option value="MA">MA</option>
                  <option value="MI">MI</option>
                  <option value="MN">MN</option>
                  <option value="MS">MS</option>
                  <option value="MO">MO</option>
                  <option value="MT">MT</option>
                  <option value="NE">NE</option>
                  <option value="NV">NV</option>
                  <option value="NH">NH</option>
                  <option value="NJ">NJ</option>
                  <option value="NM">NM</option>
                  <option value="NY">NY</option>
                  <option value="NC">NC</option>
                  <option value="ND">ND</option>
                  <option value="OH">OH</option>
                  <option value="OK">OK</option>
                  <option value="OR">OR</option>
                  <option value="PA">PA</option>
                  <option value="RI">RI</option>
                  <option value="SC">SC</option>
                  <option value="SD">SD</option>
                  <option value="TN">TN</option>
                  <option value="TX">TX</option>
                  <option value="UT">UT</option>
                  <option value="VT">VT</option>
                  <option value="VA">VA</option>
                  <option value="WA">WA</option>
                  <option value="WV">WV</option>
                  <option value="WI">WI</option>
                  <option value="WY">WY</option>
                </select>
                <input id="zip" class="uk-input uk-width-1-4 border-charcoal2 uk-margin-bottom uk-margin-right" type="text" placeholder="ZIP Code" v-model="updatedSiteAdminConfig.zip_code">
              </span>

              <label class="profile-label">Primary Email</label>
              <div class="uk-inline uk-width-1-1 uk-margin-small uk-margin-bottom">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                  <input class="uk-input border-charcoal2" type="text" v-model="updatedSiteAdminConfig.primary_email">
              </div>
              <label class="profile-label">Forms will be emailed to:</label>
              <h6 class="uk-margin-remove">Separate email addresses by commas ','</h6>
              <div class="uk-inline uk-width-1-1 uk-margin-small">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input class="uk-input border-charcoal2" type="text" v-model="updatedSiteAdminConfig.secondary_emails">
              </div>
              <div class="uk-margin-large">
                <button class="uk-button uk-button-primary button-lt uk-margin-medium-left uk-position-medium uk-position-bottom" type="button" v-on:click="saveAdminContactInfo">Save</button>
                <button class="uk-button uk-button-danger uk-margin-medium-left uk-position-medium uk-position-bottom-right" type="button" uk-tooltip="title: Select this button to under all changes made to this section since your last save." v-on:click="revertAdminContactInfoChanges">Revert Changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="uk-margin-right uk-margin-left uk-margin-medium-top">
  <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
    <!--------------------------->
    <!-- Section three - Membership Options-->
    <!--------------------------->
    <div>
      <div class="uk-card uk-card-default">
        <div class="uk-card-header container-top">
          <h4 class="norwester font-white">Membership Options</h4>
        </div>
        <div class="uk-card-body white">
          <label class="profile-label">Benefits of Free Membership</label>
          <h6 class="uk-margin-remove">Start each benefit with a '*'</h6>
          <textarea class="border-charcoal2 uk-margin-bottom uk-width-1-1" rows="26" type="textarea" v-model="membershipOptionsConfig.free_membership_description"></textarea>
          <div class="uk-margin-medium"></div>
          <label class="profile-label">Benefits of Paid Membership</label>
          <h6 class="uk-margin-remove">Start each benefit with a '*'</h6>
          <textarea class="border-charcoal2 uk-margin-bottom uk-width-1-1" rows="26" type="textarea" v-model="membershipOptionsConfig.paid_membership_description"></textarea>
        </div>
        <div class="uk-margin-large"></div>
        <button class="uk-button uk-button-primary button-lt uk-margin-medium-left uk-position-medium uk-position-bottom" type="button" v-on:click="saveMembershipOptionsConfig">Save</button>
      </div>
    </div>

  <!--------------------------->
  <!-- Section three - Membership Types-->
  <!--------------------------->
  <div>
    <div class="uk-card uk-card-default">
      <div class="uk-card-header container-top">
        <h4 class="norwester font-white">Membership Types</h4>
      </div>
      <div class="uk-card-body white">
        <div v-for="membershipType in membershipTypes">
          <label class="profile-label">Title</label>
          <input class="uk-input uk-width-1-1 uk-margin-small border-charcoal2" type="text" v-model="membershipType.name" disabled>

          <label class="profile-label">Description</label>
          <textarea class="border-charcoal2 uk-margin-small uk-width-1-1" rows="5" type="textarea" v-model="membershipType.description"></textarea>

          <label class="profile-label">Price</label><br>
          <div class="uk-inline uk-width-1-3 uk-margin-small">
            <span class="uk-form-icon" uk-icon="icon: tag"></span>
            <input class="uk-input border-charcoal2" type="text" placeholder="$0.00" v-model="membershipType.price">
          </div>
          <hr>
        </div>
      </div>
      <div class="uk-margin-large"></div>
      <button class="uk-button uk-button-primary button-lt uk-margin-medium-left uk-position-medium uk-position-bottom" type="button" v-on:click="saveMembershipTypes">Save</button>
    </div>
  </div>
</div>
</div>

<!--------------------------->
<!-- Section four -3rd Party Integrations-->
<!--------------------------->
<!-- <div class="uk-margin-right uk-margin-left uk-margin-medium-top">
  <div>
    <div class="uk-card uk-card-default uk-width-1-1">
      <div class="uk-card-header container-top">
        <h4 class="norwester font-white">Integrations</h4>
      </div>
      <div class="uk-card-body white">
        <span class="profile-label">Available:</span>
        <div class="uk-grid-small uk-child-width-1-4@m uk-margin" uk-grid>

        <div>
        <button class="uk-button instagram uk-width-1-1"><span uk-icon="instagram"></span>&nbsp; Instagram</button>
        </div>

        <div>
        <button class="uk-button twitter uk-width-1-1"><span uk-icon="twitter"></span>&nbsp; Twitter</button>
        </div>
        </div>
        <hr>
        <span class="profile-label">Installed:</span>
        <div class="uk-grid-small uk-child-width-1-4@m uk-margin" uk-grid>
          <div>
            <button class="uk-button paypal uk-width-1-1"><strong><i>P</i></strong> &nbsp; Paypal</button>
          </div>

          <div>
            <button class="uk-button facebook uk-width-1-1"><span uk-icon="facebook"></span>&nbsp; Facebook</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
  </div>
  <div class="uk-margin-large"></div>
  <%- include('footer'); %>
  </body>   
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        siteAdminConfig: <%- JSON.stringify(siteAdminConfig) %>,
        updatedSiteAdminConfig: <%- JSON.stringify(siteAdminConfig) %>,
        membershipOptionsConfig: <%- JSON.stringify(membershipOptionsConfig) %>,
        membershipTypes: <%- JSON.stringify(membershipTypes) %>
      },
      methods: {
        saveSiteBranding: function() {
          if ($('#site-branding-logo-upload')[0].files[0]) {
            var payload = new FormData();
            payload.append('siteBrandingLogo', $('#site-branding-logo-upload')[0].files[0]);
            axios.post('/api/site-branding', payload, {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
              .then(function(data) {
                alert('Site branding assets successfully updated.');
              })
              .catch(function(err) {
                alert('There was an issue uploading the images. Please try again');
              });
          }

          if ($('#site-favicon')[0].files[0]) {
            var payload2 = new FormData();
            payload2.append('siteFavicon', $('#site-favicon')[0].files[0]);  

            axios.post('/api/site-favicon', payload2, {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
              .then(function(data) {
                alert('Site favicon successfully updated.');
              })
              .catch(function(err) {
                alert('There was an issue uploading the favicon. Please try again');
              });
          }
        },
        saveAdminContactInfo: function() {
          var payload = Object.assign({}, this.updatedSiteAdminConfig);
          axios.post('/api/admin-contact-info', payload)
            .then(function(data) {
              alert('Admin contact info successfully updated.');
            })
            .catch(function(err) {
              alert('There was an issue processing updates to the admin contact information. Please try again');
            });
        },
        saveMembershipOptionsConfig: function() {
          axios.put('/api/membership-option-config', this.membershipOptionsConfig)
            .then(function(data) {
              alert('Membership options description updated.');
            }).catch(function(err) {
              alert('There was an issue updating the membership options description. Please try again');
            });
        },
        saveMembershipTypes: function() {
          axios.put('/api/membership-types', { membershipTypes: this.membershipTypes })
            .then(function(data) {
              alert('Membership types successfully updated.');
            })
            .catch(function(err) {
              alert('There was an issue updating the membership types description. Please try again');
            });
        },
        revertAdminContactInfoChanges: function() {
          Object.assign(this.updatedSiteAdminConfig, this.siteAdminConfig);
        },
        onImgChange: function(imageSource, target) {
          if (FileReader) {
            var el = $(imageSource).get(0);
            if (el.files && el.files[0]) {
              var fr = new FileReader();
              
              fr.onload = function(e) {
                $(target).attr('src', e.target.result);
              };
              fr.readAsDataURL(el.files[0]);

            }
          } else {
            console.log('FileReader not supported in this browser.');
          }
        },
      }
    });
  </script>
  <style type="text/css">
    #site-branding-logo {
      max-width: 600px;
      max-height: 300px;
    }
  </style>
</html>
