<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <%- include('header') %>
</head>
<body>
  <% if (isLoggedIn) { %> 
    <%- include('top-navigation'); %>
  <% } else { %>
    <div class="uk-padding uk-position-relative uk-position-small uk-position-top-center uk-text-center">
      <a href="/">
        <h1 id="alumni_name" class="tight">Fern Creek</h1>
        <h3 class="norwester tight">Alumni Association</h3>
      </a>
    </div>
  <% } %>
  <div class="uk-margin-large"></div>
  <div class="uk-container"></div>
    <div class="uk-container uk-container-expand uk-margin-large-left uk-margin-large-right uk-position-relative uk-padding-large white border-slate">

    <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
      <!-- Contact Info Side -->
      <div>
        <h3>Get in Touch</h3>
        <br>
        <!-- Address Grid -->
        <div class="uk-grid-small" uk-grid>
          <div>
            <span uk-icon="location"></span>
          </div>
          <div>
            <h5>
              <% if (siteAdminConfig.address_line_1) { %> 
                <span id="address_line1"><%= siteAdminConfig.address_line_1 %></span><br>
              <% } %> 
              <% if (siteAdminConfig.address_line_2) { %> 
                <span id="address_line2"><%= siteAdminConfig.address_line_2 %></span><br>
              <% } %> 
              <% if (siteAdminConfig.city) { %> 
                <span id="city"><%= siteAdminConfig.city %></span>,
              <% } %> 
              <% if (siteAdminConfig.state) { %> 
                <span id="state"><%= siteAdminConfig.state %></span> 
              <% } %>
              <% if (siteAdminConfig.zip_code) { %> 
                <span id="zip"><%= siteAdminConfig.zip_code %></span>
              <% }%>
            </h5>
          </div>
        </div>

        <!-- Email Grid -->
        <div class="uk-grid-small" uk-grid>
          <div>
            <span uk-icon="mail"></span>
          </div>
          <div>
            <% if (siteAdminConfig.primary_email) { %> 
              <h5><span id="admin_email"><%= siteAdminConfig.primary_email %></span></h5>
            <% } %>
          </div>
        </div>

        <!-- Phone Grid -->
        <div class="uk-grid-small" uk-grid>
          <div>
            <span uk-icon="receiver"></span>
          </div>
          <div>
            <% if (siteAdminConfig.phone_number) { %> 
              <h5><span id="admin_phone"><%= siteAdminConfig.phone_number %></span></h5>
            <% } %>
          </div>
        </div>
      </div>

      <!-- Contact Form -->
      <div>
        <div class="uk-inline uk-width-1-1">
          <span class="uk-form-icon" uk-icon="icon: user"></span>
          <% if (user.name) { %>
            <input id="name" class="uk-input border-charcoal2" placeholder="Full Name" type="text" value="<%= user.name %>">
          <% } else { %>
            <input id="name" class="uk-input border-charcoal2" placeholder="Full Name" type="text">
          <% } %>
        </div>
        <div class="uk-margin">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <% if (user.email) { %>
              <input id="email" class="uk-input border-charcoal2" placeholder="Email Address" type="text" value="<%= user.email %>">
            <% } else { %>
              <input id="email" class="uk-input border-charcoal2" placeholder="Email Address" type="text">
            <% } %>
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-inline uk-width-1-1">
            <textarea id="message" class="uk-textarea border-charcoal2" rows="5" placeholder="Your Message"></textarea>
          </div>
        </div>
        <button class="uk-button button-lt" onclick="sendMessage()">SEND</button>
      </div>
    </div>
  </div>
  <div class="uk-margin-large"></div>

  <%- include('footer') %>

  <script type="text/javascript">
    function sendMessage() {
      var errMsg = '';
      if (!$('#name').val()) errMsg += 'Please enter a name.\n';
      if (!$('#email').val()) errMsg += 'Please enter an email address.\n';
      if (!$('#message').val()) errMsg += 'Please enter a message.\n';
      if (errMsg) alert(errMsg);
      else {
        axios.post('/api/contact-admin', {
          name: $('#name').val(),
          email: $('#email').val(),
          message: $('#message').val()
        })
          .then(function(data) {
            alert('Your message was successfully sent. Please wait for an administrator to contact you directly.');
          })
          .catch(function(err) {
            alert(err);
            alert('There was an error processing your request. Please try again');
          });
      }
    }
  </script>
</body>
</html>
