<!DOCTYPE html>
<html>
<head>
  <title>Groups</title>
  <%- include('header'); %>
</head>
<body>
  <%- include('top-navigation'); %>
  
<div class="uk-hidden@m">
<br><br><br><br><br><br>
</div>

<div class="uk-padding uk-clearfix">
<h3 class="uk-position-relative uk-margin uk-margin-right uk-float-left norwester">Groups</h3>
<div class="uk-position-relative uk-float-right"><button class="uk-button button-dk" href="#image-modal" uk-toggle>Request</button></div>
<!-- Here is the code for the add an image modal -->
<div id="image-modal" uk-modal>
<div class="uk-modal-dialog uk-modal-body fog">
  <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">Request a Group</h2>
    <form>
      <div class="uk-margin">
        <span class="profile-label">*Your Name</span>
        <input class="uk-input" type="text">
      </div>
      <div class="uk-margin">
        <span class="profile-label">*Your Email</span>
        <input class="uk-input" type="text">
      </div>
      <div class="uk-margin">
        <span class="profile-label">*Reason for Request</span>
        <textarea class="uk-textarea" rows="5" placeholder="Enter an event description"></textarea>
      </div>
    </form>

    <p class="uk-text-left">
        <button class="uk-button button-dk" type="button">Submit</button>
        <button class="uk-button button-lt uk-modal-close" type="button">Cancel</button>
    </p>
</div>
</div>
</div>

<!-- Member Detail Modal -->
<div id="modal-group-details" class="uk-modal-full" uk-modal>
<div class="uk-modal-dialog fog uk-padding" uk-overflow-auto uk-height-viewport>
    <button class="uk-modal-close-full uk-close-large fog" type="button" uk-close></button>
  <h3 class="norwester font-black uk-text-center uk-padding">Member Details</h3>
  <div class="uk-container border-charcoal white uk-margin">
    <div class="uk-grid-match uk-margin-remove uk-flex-top uk-padding" uk-grid>
    <div class="uk-width-1-3@m">
        <h4 class="norwester font-black">Rebecca Himmelheiber-Graves</h4>
        <img class="uk-border-rounded uk-height-small uk-width-auto" src="yearbook/elderly.jpg">
    </div>
    <div class="uk-width-1-3@m">
      <span class="profile-label">Email</span><br>
      <a id="email" href="mailto:leslie_cole@gmail.com">leslie_cole@gmail.com</a><br><br>
      <span class="profile-label">Home Phone</span><br>
      <span id="home_phone" class="profile-field">(123) 456-7890</span><br><br>
      <span class="profile-label">Cell Phone</span><br>
      <span id="mobile_phone" class="profile-field">(987) 654-3210</span><br><br>
      <span class="profile-label">Birthday</span><br>
      <span id="birthday" class="profile-field">June 8th</span>
    </div>
    <div class="uk-width-1-3@m">
      <span class="profile-label">Marital Status</span>
      <span id="marital_status" class="profile-field">Married</span><br>
      <span class="profile-label">Address</span><br>
      <span>
      <span id="address_line1" class="profile-field">123 Main Street</span><br>
      <span id="address_line2" class="profile-field">Apartment #12</span><br>
      <span id="city" class="profile-field">Louisville</span>,<span id="state" class="profile-field"> KY</span><span id="zip" class="profile-field"> 40202</span>
      </span>
    </div>
    </div>
  </div>
  <div class="uk-container uk-padding border-charcoal white uk-margin">
    <h4 class="norwester font-black uk-text-center">Rachel Greene</h4><br><br>
    <h5 class="profile-label uk-text-center uk-margin"> <i class="fa fa-user-secret fa-3x"></i> <br><br>Profile is Private</h5>
  </div>
  <br><br>
  </div>
</div>
</div>
</div>

<!--------------------------->
<!-- Profile Info Section -->
<!--------------------------->

<div class="uk-margin-right uk-margin-left">
  <div class="uk-grid uk-child-width-1-2@m" uk-grid>
  <div id="leader-groups" class="uk-card uk-card-default">
    <div class="uk-card-header container-top">
        <h4 class="norwester font-white">Groups You Lead</h4>
    </div>
    <table class="uk-table uk-margin-remove group-table">
      <tbody>
        <td class="uk-clearfix" v-if="myLeaderGroups.length == 0">
          <p>
            <i>You are not currently leading any groups.</i>
          </p>
        </td>
        <tr v-for="group in myLeaderGroups">
          <td class="uk-clearfix">
            <a href="#modal-group-details" uk-toggle><h4>{{ group.group_name }}</h4></a>
            <h5 class="font-charcoal uk-position-relative">
              <span class="uk-float-left"><span id="member_count">{{ group.users.length }}</span> Member<span v-if="group.users.length != 1">s</span></span>
              <span class="uk-float-right"><a>Contact Group</a> | <a>Close</a></span>
            </h5>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

<div class="uk-child-width-1-2@m" uk-grid>
<div id="participant-groups" class="uk-card uk-card-default">
    <div class="uk-card-header container-top">
        <h4 class="norwester font-white">Groups you Joined</h4>
    </div>
    <table class="uk-table uk-margin-remove group-table">
      <tbody>
        <td class="uk-clearfix" v-if="myParticipantGroups.length == 0">
          <p>
            <i>You are not currently a participant in any group.</i>
          </p>
        </td>
        <tr v-for="group in myParticipantGroups">
          <td class="uk-clearfix">
          <a href="#modal-group-details" uk-toggle><h4>{{ group.group_name %> }}</h4></a>
          <h5 class="font-charcoal uk-position-relative">
          <span class="uk-float-left"><span id="member_count">{{ group.users.length }}</span> Member<span v-if="group.users.length != 1">s</span></span>
          <span class="uk-float-right"><a>Contact Leader</a> | <a>Leave</a></span>
          </h5>
          </td>
        </tr>
      </tbody>
  </table>
</div>
</div>
</div>
</div>

<!--------------------------->
<!-- User Setup Section -->
<!--------------------------->
<div id="search-dashboard" class="uk-card uk-card-default uk-margin-large-top uk-margin-right uk-margin-left">
  <div id="groups-overview" class="uk-card-header container-top uk-clearfix">
    <div class="uk-float-right uk-visible@m">
      <select class="uk-select border-charcoal2 uk-inline uk-width-small" v-model="pageSize">
          <option>10</option>
          <option>20</option>
          <option>50</option>
      </select>
      <span class="font-white">&nbsp;per page</span>
    </div>
    <div class="uk-grid-small uk-flex-middle" uk-grid>
    <h4 class="norwester font-white">Groups Available<h5 class="font-white" id="group_count">({{ groups.length }})</h5></h4>
    </div>
  </div>
<div class="charcoal uk-padding-small">
      <form class="uk-width-1-1 uk-padding-small">
      <div class="uk-form-controls uk-inline uk-width-1-3@m uk-margin-right uk-margin-bottom-small">
        <span class="uk-form-icon" uk-icon="icon: search"></span>
          <input class="uk-input border-charcoal2" type="text" placeholder="Search by Group Name" v-model="searchText">
      </div>
      <div class="uk-inline uk-width-1-3@m uk-margin-right uk-margin-bottom-small">
          <select class="uk-select border-charcoal2" v-model="sortMode">
              <option value="alphabetical">Sort Alphabetically (A-Z)</option>
              <option value="reverse">Sort Alphabetically (Z-A)</option>
          </select>
      </div>
      <div class="uk-inline uk-float-right uk-margin-bottom-small">
      <h5 class="font-white"><a class="font-white" v-on:click="filter">Redo Search</a></h5>
    </div>
    </form>
    </div>

<div class="uk-card-body white uk-padding-remove uk-margin-remove uk-width-1-1">
  <table class="uk-table uk-table-large uk-margin-remove uk-width-1-1 uk-overflow-auto">
    <thead class="uk-card-header white">
      <tr>
          <th class="uk-table-shrink border-none uk-width-1-2 ">Group Name</th>
          <th class="uk-table-shrink border-none"># of Members</th>
          <th class="uk-table-shrink border-none">Actions</th>
          <th class="uk-table-shrink border-none"></th>
      </tr>
    </thead>
    <div class="uk-card-body white uk-padding-remove"></div>
    <tbody>
      <tr v-for="group in displayGroups" :key="group.id">
        <td class="table-border border-none">
          <span id="group_name">{{ group.group_name }}</span>
        </td>
        <td class="table-border border-none">
          <span id="member-count">{{ group.users.length }}</span>
        </td>
        <td class="table-border border-none">
          <span class="uk-inline"><a>Contact Leader</a></td> <td class="table-border border-none"> <a>Join</a></span>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="uk-padding-small black">
  <ul class="uk-pagination uk-flex-center uk-margin-remove">
  <li><a v-on:click="paginateLeft"><span uk-icon="icon: chevron-left; ratio: 2" class="font-white"></span></a></li>
  <li><div>
      <select class="uk-select border-charcoal2" v-model="pageNumber">
          <option v-for="page in Array(pageCount).keys()">{{ page + 1 }}</option>
      </select>
  </div></li>
  <li class="font-white uk-margin-small">of  {{ pageCount }}</li>
  <li><a v-on:click="paginateRight"><span uk-icon="icon: chevron-right; ratio: 2" class="font-white"></span></a></li>
  </ul>
  </div>
</div>
</div>
</div>
<div class="uk-margin-large"></div>
<script type="text/javascript">
  var searchDashboard = new Vue({
    el: '#search-dashboard',
    data: {
      groups: <%- JSON.stringify(groups) %>,
      sortedGroups: <%- JSON.stringify(groups) %>,
      pageNumber: 1,
      pageSize: 10,
      sortMode: 'alphabetical',
      searchText: ''
    },
    computed: {
      displayGroups: function() {
        var startEl = (this.pageNumber - 1) * this.pageSize;
        return this.sortedGroups.slice(startEl, startEl + this.pageSize);
      },
      pageCount: function() {
        return Math.ceil(this.sortedGroups.length / this.pageSize);
      }
    },
    methods: {
      paginateLeft: function() {
        if (this.pageNumber > 1) this.pageNumber--;
      },
      paginateRight: function() {
        if (this.pageNumber < this.pageCount) this.pageNumber++;
      },
      filter: function() {
        var self = this;
        var filteredGroups = this.groups.filter(function(group) {
          return group.group_name.toLowerCase().indexOf(self.searchText.toLowerCase()) !== -1;
        });

        switch (this.sortMode) {
          case 'alphabetical':
            filteredGroups.sort(function(group1, group2) {
              if (group1.group_name < group2.group_name) {
                return -1;
              } else if (group1.group_name > group2.group_name) {
                return 1;
              }
              return 0;
            });
            break;
          case 'reverse':
            filteredGroups.sort(function(group1, group2) {
              if (group1.group_name > group2.group_name) {
                return -1;
              } else if (group1.group_name < group2.group_name) {
                return 1;
              }
              return 0;
            });
            break;
        }

        this.sortedGroups = filteredGroups;
      }
    }
  });

  var leaderGroupsDashboard = new Vue({
    el: '#leader-groups',
    data: {
      myLeaderGroups: <%- JSON.stringify(leaderGroups) %>
    }
  });

  var participantGroupsDashboard = new Vue({
    el: '#participant-groups',
    data: {
      myParticipantGroups: <%- JSON.stringify(participantGroups) %>
    }
  });
</script>
</body>
</html>
