<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%- include('header'); %>
</head>
<body>
  <%- include('top-navigation'); %>

<!--------------------------->
<!-- Profile Info Section -->
<!--------------------------->
<div id="app">

<a class="uk-button button-lt uk-margin-small uk-margin-right uk-margin-left uk-float-right" v-on:click="signOut"><span uk-icon="sign-out"></span> &nbsp;Sign Out</a>

<div class="uk-container"></div>
<div class="uk-card uk-card-default uk-margin uk-margin-right uk-margin-left">
    <div class="uk-card-header container-top">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
        <h4 class="norwester font-white">Profile Information &nbsp;<a class="font-white" href="/profile-top-editor">(Edit)</a></h4>
        </div>
    </div>
    <div class="uk-card-body white">
      <div class="uk-grid-match uk-child-width-1-3@m uk-flex-top" uk-grid>
          <div>
            <div class="uk-width-auto">
              <img id="profile-photo" class="uk-border-rounded uk-height-small uk-width-auto" 
                src="<%= user.profilePhotoRef ? '/api/photo/' + user.profilePhotoRef : '/profile_photo_placeholder.svg' %>" alt="Profile Photo">
          </div>
          <a href="#pw-modal" uk-toggle><span uk-icon="icon: lock"></span>&nbsp;Change Password</a><br><br>
          <span class="profile-label">Name</span>
          <span id="name" class="profile-field"><%= user.name || '--' %></span>
          <span class="profile-label">Graduated</span>
          <span id="grad_year" class="profile-field"><%= user.graduation_year || '--' %></span>
          </div>

          <div>
            <span class="profile-label">Nicknames</span>
            <span id="nickname" class="profile-field"><%= user.nicknames || '--' %></span>
            <span class="profile-label">Email</span>
            <span id="email" class="profile-field"><%= user.email || '--' %></span>
            <span class="profile-label">Home Phone</span>
            <span id="home_phone" class="profile-field"><%= user.home_phone || '--' %></span>
            <span class="profile-label">Cell Phone</span>
            <span id="mobile_phone" class="profile-field"><%= user.cell_phone || '--' %></span>
            <span class="profile-label">Birthday</span>
            <span id="birthday" class="profile-field"><%= user.birthday || '--' %></span>
          </div>

          <div>
            <span class="profile-label">Marital Status</span>
            <span id="marital_status" class="profile-field"><%= user.marital_status || '--' %></span>
            <span class="profile-label">Address</span>
            <span>
            <span id="address_line1" class="profile-field"><%= user.address_line_1 || '--' %></span><br>
            <span id="address_line2" class="profile-field"><%= user.address_line_2 || '--' %></span><br>
            <span id="city" class="profile-field"><%= [user.city, user.state, user.zip_code].filter(e => e).join(', ') || '--' %></span>
          </span>
                  <span class="profile-label uk-margin">Privacy &nbsp;<span uk-icon="info" uk-tooltip="All alumni can view your yearbook photo, name and graduation year.  If you set your profile as public,  paid members can also view your phone number, address, email, birthday, and marital status.  To hide this information set your profile as private."></span></span>
                  <% if (user.isPublic) { %> 
                    <span><i class="fa fa-toggle-on font-slate"></i> &nbsp;Profile is Public</p></span>
                  <% } else { %> 
                    <span><i class="fa fa-toggle-off font-slate"></i> &nbsp;Profile is Private</p></span>
                  <% } %>
          </div>
      </div>
</div>
</div>


<!--------------------------->
<!-- Group Listing Section -->
<!--------------------------->
<div class="uk-margin-medium-top uk-margin-right uk-margin-left">
<div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
<div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-header container-top">
            <h4 class="norwester font-white">Activities</h4>
        </div>
        <div class="uk-card-body white">
          <p>Activity Number 1</p>
          <a href="">Activity Link 2</a>
          <p>Activity Number 3</p>
          <p>Activity Number 4</p>
          <a href="">Activity Link 5</a>
          <p>Activity Number 6</p>
        </div>
    </div>
</div>

<div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-header container-top">
            <h4 class="norwester font-white">Membership</h4>
        </div>
        <div class="uk-card-body white">
          <span class="profile-label uk-float-left">Type</span> <a class="uk-float-right" href="/membership-options">View Benefits &nbsp;<i class="fa fa-external-link"></i></a>
          <br>
          <span id="nickname" class="profile-field">
            <span uk-icon="check"></span> &nbsp;<%= user.membership.membershipType.name %>
          </span>
            <a href="/membership-types">&nbsp;(Edit)</a>
            <br><br>
          <% if (user.membership && user.membership.membership_type !== 1) { %>
          <span class="profile-label">Payment Method</span><br>
          <span id="pay_method" class="profile-field"><a href="https://www.paypal.com/us/signin" target="_blank">PayPal</a></span>
          <% } %>
          <% if (user.membership && user.membership.membershipType.name === 2) { %> 
          <span class="profile-label">Renewal Scheduled On</span><br>
          <span id="renews_on" class="profile-field"><%= user.membership.renewal_date %></span><br><br>
          <span class="profile-label">Auto-Renew?</span><br>
          <span id="auto-renew" class="profile-field"><%= user.membership.auto_renew_membership ? 'Yes' : 'No' %></span> <a href="/membership-options">&nbsp;(Edit)</a>
          <% } %>
        </div>
    </div>
</div>

</div>
</div>


<!--------------------------->
<!-- Event Section -->
<!--------------------------->
<div class="uk-card uk-card-default uk-margin-medium-top uk-margin-right uk-margin-left">
    <div class="uk-card-header container-top">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
        <h4 class="norwester font-white">Events</h4>
        </div>
    </div>

    <div class="uk-card-body white">
      <div class="uk-grid-match uk-flex-top" uk-grid>
          <div  class="uk-width-1-2@m">
            <div id='calendar' class="uk-padding-small link-dk uk-height-small"></div>
            <!-- FullCalendar API and Scripts -->
            <link href='fullcalendar/packages/core/main.css' rel='stylesheet' />
            <script src='fullcalendar/packages/core/main.js'></script>
            <script src='fullcalendar/packages/interaction/main.min.js'></script>
            <script src='fullcalendar/packages/moment/main.min.js'></script>
            <link href='fullcalendar/packages/list/main.css' rel='stylesheet' />
            <script src='fullcalendar/packages/list/main.js'></script>
            <script src='fullcalendar/packages/rrule/main.min.js'></script>
            <script src='fullcalendar/vendor/rrule.js'></script>
            <link href='fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
            <script src='fullcalendar/packages/daygrid/main.js'></script>
            <script>
              document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                $.ajax({
                  url: '/api/events',
                  type: 'GET',
                  data: {
                    date: new Date()
                  },
                  success: function(data) {
                    if (data) {
                      if (!Array.isArray(data)) {
                        data = [data];
                      }
                    } else {
                      data = []
                    }
                    
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                      plugins: [ 'dayGrid', 'moment', 'list', 'interaction', 'rrule' ],
                      timeZone: 'UTC',
                      defaultView: 'listMonth',
                      defaultDate: new Date(),
                      header: {
                        left: 'title',
                        right: 'prev,next',
                      },
                      customButtons: {
                        addEventButton: {
                          text: 'Add',
                          click: function() {
                            var dateStr = prompt('Enter a date in YYYY-MM-DD format');
                            var date = new Date(dateStr + 'T00:00:00'); // will be in local time

                            if (!isNaN(date.valueOf())) { // valid?
                              calendar.addEvent({
                                title: 'dynamic event',
                                start: date,
                                allDay: true
                              });
                              alert('Great. Now, update your database...');
                            } else {
                              alert('Invalid date.');
                            }
                          }
                        }
                      },
                      events: data,
                      eventClick: function(info) {
                        info.jsEvent.preventDefault();
                        if (info.event.id) {
                          window.location.href = '/event-details?event_id=' + info.event.id;
                        }
                      }
                      });

                      calendar.render();
                  },
                  error: function() {
                    alert('there was an issue loading the events calendar. Please refresh the page and try again.');
                  }
                });
              });
            </script>
          </div>

          <div class="uk-width-1-2@m">
            <span class="profile-label">Announcements</span>
            <div v-if="announcements.length == 0">
              <i>No announcements to display.</i>
            </div>
            <div class="uk-divider-vertical uk-padding-small uk-padding-remove-top" v-for="announcement in announcements">
              <h6><span id="announcement_title">{{ announcement.headline }}</span><br>
              <span class="font-med" id="announcement_details">{{ announcement.content }}</span><br>
              <a class="line" href="">Learn More</a></h6>
            </div>
          </div>

    </div>
</div>
</div>


<!--------------------------->
<!-- Your Memories Section -->
<!--------------------------->
<div class="uk-card uk-card-default uk-margin uk-margin-right uk-margin-left">
  <div class="uk-card-header container-top">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <h4 class="norwester font-white">Your Shared Memories</h4>
      </div>
  </div>
  <div class="uk-card-body white">
    <div class="uk-clearfix">
      <h5 class="uk-float-left">Share your special moments with fellow alumni. </br>All photos will appear on the communal 'Memories' page.</h5>
      <a class="uk-float-right" href="memories.html">Memories &nbsp;<i class="fa fa-external-link"></i></a>
    </div>

    <% if (user.membership && user.membership.membership_type !== 1) { %>
    <div class="uk-grid-match uk-child-width-1-4@m uk-flex-middle" uk-grid="masonry: true">
      <div>
        <div class="uk-padding">
          <% if (memories.length > 0) { %> 
            <% for (var idx = 0; idx < memories.length; idx++) { %>
              <span>
                <img class="uk-height-small uk-width-auto" src="/api/photo/<%= memories[idx].photo_ref %>" />
              </span>
            <% } %> 
            <img class="uk-height-small uk-width-auto" src="assets/image-file-add.png" /><br />
            <span><a class="font-black" href="#image-modal" uk-toggle><i class="fa fa-plus"></i>&nbsp; Add a Photo</a></span>
          <% } else { %>
            <img class="uk-height-small uk-width-auto" src="assets/image-file-add.png" /><br />
            <a class="font-black" href="#image-modal" uk-toggle><i class="fa fa-plus"></i>&nbsp; Your First Photo</a>
          <% } %>
          
          <!-- Here is the code for the add an image modal -->
          <div id="image-modal" uk-modal>
            <div class="uk-modal-dialog uk-modal-body fog">
              <button class="uk-modal-close-default" type="button" uk-close></button>
                <h2 class="uk-modal-title">Add a Memory</h2>
                <form>
                  <div class="uk-margin">
                      <div uk-form-custom>
                          <input id="new-memory-file" type="file">
                          <button class="uk-button button-lt" type="button" tabindex="-1"><span uk-icon="plus-circle"></span> &nbsp;Image</button>
                      </div>
                  </div>
                  <div class="uk-margin">
                    <span class="profile-label">*Memory Description</span>
                    <textarea class="uk-textarea" rows="5" placeholder="Enter an event description" v-model="newMemoryDescription"></textarea>
                  </div>
                </form>

                <p class="uk-text-left">
                    <button class="uk-button button-dk" type="button" v-on:click="saveMemory">Save</button>
                    <button class="uk-button button-lt uk-modal-close" type="button">Cancel</button>
                </p>
            </div>
          </div>
          </div>

        </div>
      </div>
    </div>
    <% } else { %>
      <p>To contribute to the Memories page, please upgrade your <a href="/membership-options">membership plan</a>.</p>
    <% } %>
</div>
</div>

<!-- Change Password Modal -->
<div id="pw-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body fog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Change Your Password</h2>
        <form>
          <div class="uk-margin">
            <span class="profile-label">Current Password</span><br>
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input id="current-password-field" class="uk-input" placeholder="Current Password" type="password">
            </div>
        </div>
          <div class="uk-margin boundary">
            <span class="profile-label">New Password</span><br>
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                <input id="new-password-field" class="uk-input" placeholder="New Password" type="password">
                <div uk-drop="mode: click; pos: top-justify; boundary: .boundary; boundary-align: true">
            <div class="uk-card uk-card-body uk-card-secondary charcoal uk-padding-small">•	Minimum of 8 Characters<br>
      •	Must contain 1+ special characters<br>•	Must contain 1+ numbers<br>•	Must contain 1+ capital letters</h5></div>
        </div>
            </div>
        </div>
        <div class="uk-margin">
          <span class="profile-label">Confirm New Password</span><br>
          <div class="uk-inline">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              <input id="confirm-password-field" class="uk-input" placeholder="Confirm Password" type="password">
          </div>
      </div>
        </form>

        <p class="uk-text-left">
            <button class="uk-button button-dk" type="button" v-on:click="changePassword">Save</button>
            <button class="uk-button button-lt uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>
<div class="uk-margin-large"></div>
<%- include('footer'); %>
</div>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      memories: <%- JSON.stringify(memories) %>,
      announcements: <%- JSON.stringify(announcements) %>,
      newMemoryDescription: ''
    },
    methods: {
      saveMemory: function() {
        var formData = new FormData();
        formData.append('memoryImage', $('#new-memory-file')[0].files[0]);
        formData.append('memoryDescription', this.newMemoryDescription);

        axios.post('/api/memory', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        }).then(function(res) {
          var modal = UIkit.modal('#image-modal').hide();
        }).catch(function(err) {
          alert('There was an issue saving your memory. Please refresh the page and try again.');
        });
      },
      signOut: function() {
        axios.get('/api/logout')
          .then(function(data) {
            if (data.redirect) {
              window.location.href = data.redirect;
            } else {
              window.location.href = '/sign-in';
            }
          })
          .catch(function(err) {
            
          });
      },
      changePassword: function() {
        if (!$('#new-password-field').val().match(/^(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/)) {
          alert('New password does not satisfy the security requirements.');
        } else if ($('#new-password-field').val() != $('#confirm-password-field').val()) {
          alert('Warning: passwords do not match');
        } else {
          axios.post('/api/change-password', {
            currentPassword: $('#current-password-field').val(),
            newPassword: $('#new-password-field').val()
          })
          .then(function(data) {
            $('#current-password-field').val('');
            $('#new-password-field').val('');
            $('#confirm-password-field').val('');
            UIkit.modal('#pw-modal').hide();
          })
          .catch(function(err) {
            alert('There was an error changing your password. Please try again');
          });
        }
      }
    }
  });
</script>
</body>
</html>
