<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <%- include('header'); %>
</head>
<body>

<%- include('top-navigation'); %>
<!--------------------------->
<!-- Profile Info Section -->
<!--------------------------->
<div class="uk-container"></div>
<form class="uk-card uk-card-default uk-margin uk-margin-right uk-margin-left" method='POST' action='/api/update-profile-data' enctype="multipart/form-data">
    <div class="uk-card-header container-top">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
        <h4 class="norwester font-white">Profile Information</h4>
        </div>
    </div>
    <div class="uk-card-body white">
      <div class="uk-grid-match uk-child-width-1-3@m uk-flex-top" uk-grid>
          <div>
            <div class="uk-width-auto">
              <img src="<%= user.profilePhotoRef ? '/api/photo/' + user.profilePhotoRef : '/profile_photo_placeholder.svg' %>" width="200" height="200" alt="Profile Photo">
              <div>
                  <div class="uk-margin uk-margin-left">
                      <div uk-form-custom>
                          <input 
                            id="profile_photo_upload"
                            name="profile_photo_upload"
                            type="file"
                            accept="image/*" 
                          >
                          <button class="uk-button button-lt" type="button" tabindex="-1"><span uk-icon="file-edit"></span> &nbsp;Edit</button>
                      </div>
                  </div>
              </div>
          </div>
        <!-- Far Left Section -->
              <label class="profile-label">Name</label>
              <input id="name" name="name" class="uk-input border-charcoal2 uk-margin-bottom" type="text" value="<%= user.name %>">
              <label class="profile-label">Grad Year &nbsp;<span uk-icon="info" uk-tooltip="Only an administrator can edit your graduation year. If yours is incorrect, please contact an Alumni Association official to have it corrected."></label><br>
              <input id="grad_year" name="graduation_year" class="uk-input uk-form-width-small border-charcoal2" type="text" value="<%= user.graduation_year %>" disabled>
        </div>

        <!-- Far Left Section -->
          <div>
            <label class="profile-label">Nicknames</label>
            <input id="nicknames" name="nicknames" class="uk-input border-charcoal2 uk-margin-bottom" type="text" value="<%= user.nicknames %>">
            <span class="profile-label">Email</span>
            <input id="email" name="email" class="uk-input border-charcoal2 uk-margin-bottom" type="text" value="<%= user.email %>">
            <span class="profile-label">Home Phone</span>
            <input id="home_phone" name="home_phone" class="uk-input border-charcoal2 uk-margin-bottom" type="text" value="<%= user.home_phone %>">
            <span class="profile-label">Cell Phone</span>
            <input id="cell_phone" name="cell_phone" class="uk-input border-charcoal2 uk-margin-bottom" type="text" value="<%= user.cell_phone %>">
            <span class="profile-label">Birthday</span>
            <input id="dob" name="birthday" class="uk-input uk-width-small border-charcoal2 uk-margin-bottom" type="text" placeholder="mm-dd-yyyy" value="<%= user.birthday %>">
          </div>

          <div>
            <span class="profile-label">Marital Status</span>
            <select id="marital_status" name="marital_status" class="uk-select border-charcoal2 uk-margin-bottom" value="<%= user.marital_status %>">
              <option></option>
              <option>Single</option>
              <option>Married</option>
              <option>Divorced</option>
              <option>Widowed</option>
            </select>

            <span class="profile-label">Address</span>
            <span>
            <input id="address_line1" name="address_line_1" class="uk-input border-charcoal2 uk-margin-bottom" type="text" value="<%= user.address_line_1 %>"><br>
            <input id="address_line2" name="address_line_2" class="uk-input border-charcoal2 uk-margin-bottom" type="text" value="<%= user.address_line_2 %>"><br>
            <input id="city" name="city" class="uk-input uk-width-1-3 border-charcoal2 uk-margin-bottom" type="text" value="<%= user.city %>">, <select id="state" name="state" class="uk-select uk-width-1-4 border-charcoal2 uk-margin-bottom" value="<%= user.state %>">
                <option value=""></option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
              </select>
            <input id="zip" name="zip_code" class="uk-input uk-width-1-4 border-charcoal2 uk-margin-bottom" type="text" value="<%= user.zip_code %>">
          </span>
                  <span class="profile-label uk-margin">Privacy &nbsp;<span uk-icon="info" uk-tooltip="All alumni can view your yearbook photo, name and graduation year.  If you set your profile as public,  paid members can also view your phone number, address, email, birthday, and marital status.  To hide this information set your profile as private."></span></span>
                  <span id="public_toggle">
                    <style type="text/css">
                      .switch {
                        position: relative;
                        display: inline-block;
                        width: 60px;
                        height: 34px;
                      }

                      .switch input { 
                        opacity: 0;
                        width: 0;
                        height: 0;
                      }

                      .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #ccc;
                        -webkit-transition: .4s;
                        transition: .4s;
                      }

                      .slider:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                      }

                      input:checked + .slider {
                        background-color: #2196F3;
                      }

                      input:focus + .slider {
                        box-shadow: 0 0 1px #2196F3;
                      }

                      input:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                      }

                      /* Rounded sliders */
                      .slider.round {
                        border-radius: 34px;
                      }

                      .slider.round:before {
                        border-radius: 50%;
                      }
                    </style>
                    <label class="switch">
                      <% if (user.isPublic) { %>
                        <input id="profile-visibility-toggle" type="checkbox" checked>
                      <% } else { %>
                        <input id="profile-visibility-toggle" type="checkbox">
                      <% } %>
                      <span class="slider round"></span>
                    </label>
                    <span>&nbsp;Make profile public</span>
                    <!-- <p class="toggle"><input type="checkbox" id="profile-visibility-toggle" class="fa fa-toggle-on"></input> &nbsp;Profile is Public</p><p class="toggle" hidden><i class="fa fa-toggle-off"></i> &nbsp;Profile is Private</p> -->
                  </span>
          </div>
      </div>
      <div class="uk-position-relative uk-margin uk-margin-right uk-float-left"><button class="uk-button button-dk" type="submit">Save</button></div>
      <div class="uk-position-relative uk-margin uk-float-left"><button class="uk-button button-lt"><a href="/profile">Cancel</a></button></div>
</div>
</form>


<!--------------------------->
<!-- Group Listing Section -->
<!--------------------------->
<!-- 
<div class="uk-margin-medium-top uk-margin-right uk-margin-left">
<div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
<div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-header container-top">
            <h4 class="norwester font-white">Activities</h4>
        </div>
        <div class="uk-card-body white">
          <p>Activity Number 1</p>
          <a href="">Activity Link 2</a>
          <p>Activity Number 3</p>
          <p>Activity Number 4</p>
          <a href="">Activity Link 5</a>
          <p>Activity Number 6</p>
        </div>
    </div>
</div>

<div>
    <div class="uk-card uk-card-default">
        <div class="uk-card-header container-top">
            <h4 class="norwester font-white">Membership</h4>
        </div>
        <div class="uk-card-body white">
          <span class="profile-label uk-float-left">Status</span> <a class="uk-float-right" href="">View Benefits &nbsp;<i class="fa fa-external-link"></i></a>
          <br>
          <span id="nickname" class="profile-field"><span uk-icon="check"></span> &nbsp;Active</span><a href="">&nbsp;(Edit)</a><br><br>
          <span class="profile-label">Payment Method</span><br>
          <span id="pay_method" class="profile-field">Visa …1234, Exp 12/20</span><a href="">&nbsp;(Edit)</a><br><br>
          <span class="profile-label">Renewal Scheduled On</span><br>
          <span id="renews_on" class="profile-field">12/24/2019</span><br><br>
          <span class="profile-label">Auto-Renew?</span><br>
          <span id="auto-renew" class="profile-field">Yes</span> <a href="">&nbsp;(Edit)</a>
        </div>
    </div>
</div>

</div>
</div>
-->

<!--------------------------->
<!-- Event Section -->
<!--------------------------->
<!-- <div class="uk-card uk-card-default uk-margin-medium-top uk-margin-right uk-margin-left">
    <div class="uk-card-header container-top">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
        <h4 class="norwester font-white">Events</h4>
        </div>
    </div>

    <div class="uk-card-body white">
      <div class="uk-grid-match uk-child-width-1-3@m uk-flex-top" uk-grid>
          <div>
            <span class="profile-label uk-margin-bottom">May 2019</span>
            <img class="uk-width-1-1 uk-margin-right" src="assets/calendar_mockup.png" alt="Calendar">
          </div>

          <div>
            <span class="profile-label">Upcoming</span>
            <div class="uk-divider-vertical uk-padding-small uk-padding-remove-top">
            <h6><span id="event_date">Friday, May 24th</span><br>
            <span class="font-med" id="event_time">10:00 - 11:30 AM</span><br>
            <span id="event_title">Annual Meet and Greet Brunch</span><br>
            <a class="line" href=""><i class="fa fa-group"></i> &nbsp;Jazz Band</a></h6>
            </div>

            <div class="uk-divider-vertical uk-padding-small uk-padding-remove-top">
            <h6><span id="event_date">Saturday, May 25th</span><br>
            <span class="font-med" id="event_time">7:30 - 9:30 PM</span><br>
            <span id="event_title">Fern Creek Annual Cancer Fundr…</span><br>
            <a class="line" href=""><i class="fa fa-group"></i> &nbsp;Jazz Band</a></h6></div>

            <div class="uk-margin-left"><br><a href=""><i class="fa fa-external-link"></i> &nbsp;View More</a></div>
          </div>

          <div>
            <span class="profile-label">Announcements</span>
            <div class="uk-divider-vertical uk-padding-small uk-padding-remove-top">
            <h6><span id="announcement_title">Class Reunion!</span><br>
            <span class="font-med" id="announcement_details">It’s been 50 years since you graduated, and we’re celebrating with a party!</span><br>
            <a class="line" href="">Learn More</a></h6>
            </div>
          </div>

    </div>
</div>
</div>
 -->
<div class="uk-margin-large"></div>

<!-- <script type="text/javascript">
  function saveProfile() {
    $.ajax({
      url: '/api/update-profile-data',
      type: 'POST',
      data: {
        name: $('#name').val(),
        nicknames: $('#nickname').val(),
        home_phone: $('#home_phone').val(),
        cell_phone: $('#cell_phone').val(),
        birthday: $('#birthday').val(),
        marital_status: $('#marital_status').val(),
        address_line_1: $('#address_line1').val(),
        address_line_2: $('#address_line2').val(),
        city: $('#city').val(),
        state: $('#state').val(),
        zip_code: $('#zip').val(),
        isPublic: $('#profile-visibility-toggle').prop('checked')
      },
      success: function(data) {
        if (data.redirect) {
          window.location.pathname = data.redirect;
        } else {
          window.location.pathname = '/profile';
        }
      },
      error: function(err) {
        alert(err);
      }
    });
  }
</script> -->

</body>
</html>
